body {
  margin: auto;
  background-color: rgb(226, 240, 239);
}
div {
  width: 500px;
  height: auto;
  text-align: justify;
  margin: 3%;
  border: solid 3px;
  border-radius: 20px;
}
ul li {
  margin: 15px;
  list-style: none;
  font-family: "Pacifico", cursive;
}

img {
  width: 100px;
  float: left;
  display: inline;
  margin: 10px 20px 10px 10px;
  border-radius: 50%;
}
div p {
  font-size: 20px;
  margin: 10px;
  font-family: "Indie Flower", cursive;
}
