body {
  background-color: rgb(226, 240, 239);
}
.fas {
  color: yellow;
}
caption {
  text-decoration: underline;
  margin: 30px;
}
table {
  font-size: 30px;
  margin: 30px;
}
i {
  color: yellow;
}
td {
  margin: 15px;
}
