body {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
}
.sagsoltaraf {
  width: 38%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#ana {
  margin-top: 50px;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
}
p,
i {
  color: grey;
}
.ilk {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: row;
  background-color: #74b9ff;
  background-image: url(./Screenshot_2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.iki {
  width: 400px;
  height: 400px;
  background-color: white;
}
section > .fotodiv {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  margin-left: 50px;
  margin-top: -100px;
  background: white;
  color: grey;
  box-shadow: 5px 5px #f5f3f3;
  border-radius: 20px;
}
h4,
h5 {
  font-size: 16px;
  margin-left: 20px;
  margin-top: 10px;
  color: grey;
}
h4 {
  margin-bottom: 0px;
  color: grey;
}
h5 + div {
  width: 300px;
  height: 200px;
  margin-left: 50px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}
.cokludiv div {
  width: 300px;
  height: 50px;
  background: white;
  box-shadow: 5px 5px #f5f3f3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -75px;
  margin-left: 75px;
  cursor: pointer;
  transition: 0.5s;
}

h2,
h3 {
  text-align: center;
  margin: 1px;
}
.ilk div {
  width: 50px;
  height: 50px;
}
#tepe1 {
  margin-right: 300px;
}
#tepe2 {
  justify-content: center;
}
#tepe2 i {
  margin: 10px;
  font-size: 20px;
  color: white;
}
#tepe1 i {
  margin: 10px;
  font-size: 20px;
  color: white;
}
.icons,
.icons li {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  margin: 5px 20px 10px 5px;
  font-size: 25px;
  color: gray;
}
.cokludiv {
  margin-top: 5px;
}
div i {
  margin-top: 14px;
  font-size: 25px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  color: gray;
  width: 100%;
  height: 50px;
  background-color: white;
  margin-top: 0px;
}
.bal1 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: blue;
  display: flex;
  margin-left: 150px;
  margin-top: 20px;
  opacity: 0.3;
  overflow: hidden;
}
.bal2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: blue;
  overflow: hidden;
  display: flex;
  margin-left: -80px;
  margin-bottom: 250px;
  opacity: 0.3;
}
.bal3 {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: blue;
  overflow: hidden;
  margin-left: 260px;
  margin-left: 230px;
  margin-top: -25px;
  opacity: 0.3;
}
.bal4 {
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: blue;
  overflow: hidden;
  margin-left: 280px;
  margin-left: 220px;
  margin-bottom: -250px;
  opacity: 0.3;
}
i:hover {
  color: blue;
}
img:hover {
  transform: scale(0.9);
}
.fotoo > i {
  position: relative;
  right: 0px;
  bottom: 0px;
  left: 100px;
  top: 50px;
  color: aqua;
}
.fotoo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -75px;
  margin-left: 75px;
  background-image: url(./profilfotoGL.jpeg);
  background-repeat: no-repeat;
  background-size: 150px;
}
.fotoo > i {
  position: relative;
  right: 0px;
  bottom: 0px;
  left: 110px;
  top: 110px;
  color: aqua;
}
