/* Ge/* General style */

* {
  margin: 0px;

  background-color: #83bbfb;
}

header {
  width: 100%;
  height: 30%;
  margin-top: 20px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.header-left {
  width: 35%;
  height: 30vh;
}
.header-mid {
  width: 37%;
  height: 30vh;
  margin-left: 3rem;
  margin-right: 3rem;
}
.header-right {
  width: 20%;
  height: 30vh;
}
.header-div-1 {
  width: 70%;
  height: 1.2rem;
  margin-top: 50px;
}
.header-div-2 {
  width: 70%;
  height: 0.9rem;
  margin: 10px;
}
.header-div-3 {
  width: 30%;
  height: 2rem;
  margin-top: 20px;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid white;
  border-bottom: 25px solid transparent;
  background-color: #80b3ec;
  margin-left: 15px;
}
.header-mid > div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.header-right div {
  width: 10rem;
  height: 1.3rem;
}
.handy {
  width: 12rem;
  height: 20rem;
  border-radius: 1.3rem;
}
.handy-top {
  width: 5rem;
  height: 0.1rem;
  margin-bottom: 20px;
  margin-top: 1rem;
}
.handy-mid {
  width: 10rem;
  height: 16rem;
}
.handy-bottom {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid 0.1rem #80b3ec;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
main {
  margin-top: 1.1rem;
  margin-left: 1.5rem;
}
.main-mid {
  width: 35rem;
  height: 20rem;
  margin-left: 3rem;
}
.main-mid-top {
  width: 15rem;
  height: 3rem;
  margin-top: 5rem;
}
.main-mid-circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 3rem;
}
.main-mid-midd {
  width: 15rem;
  height: 5rem;
}
.main-midd-triangle1 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #80b3ec;
  margin-right: -5px;
  margin-top: 1.3rem;
  size: 3rem;
  size: 3rem;
  background-color: white;
}
.main-midd-triangle2 {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #80b3ec;
  background-color: white;
}
.main-right {
  width: 25rem;
  height: 20rem;
  margin-left: 3.5rem;
}
.main-right-top {
  width: 100%;
  height: 4rem;
  margin-right: 0px;
}
.right-top-left {
  width: 50%;
  height: 2rem;
}
.top-white {
  width: 4rem;
  height: 2rem;
  border-radius: 20px;
  border: solid 1px #80b3ec;
  background-color: white;
}
.top-white div {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid 1px #80b3ec;
  background-color: white;
}
.top-blue {
  width: 4rem;
  height: 2rem;
  border-radius: 20px;
  background-color: white;
  border: solid 1px #80b3ec;
}
.top-blue div {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-left: 2rem;
  background-color: #80b3ec;
}

.right-top-right div {
  width: 10rem;
  height: 1.3rem;
  margin-left: 2.3rem;
}

.right-top-right {
  width: 50%;
}
/*Layout*/

header {
  display: flex;
  justify-content: space-between;
}
.header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-mid,
.header-mid > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.handy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
}
.main-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-mid-midd {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-right {
  display: flex;
  flex-direction: column;
  margin-left: 3.6rem;
}
.main-right-top {
  display: flex;
  justify-content: space-between;
}
.right-top-left {
  display: flex;
  justify-content: space-around;
}
.right-top-right {
  display: flex;
  flex-direction: column;
}

.main-right-botttom {
  margin-top: 4rem;
  margin-left: 3rem;
}
.circles {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Color*/

.header-left,
.header-mid,
.header-right > div,
.handy,
.handy-bottom,
.main-mid,
.main-mid-top,
.main-mid-midd,
.right-top-right div,
.main-right,
.main-right-botttom,
.top-circle {
  background-color: white;
}
.header-left div,
.top-triangele,
.handy-top,
.handy-mid {
  background-color: #80b3ec;
}
.bottom {
  margin-top: 1rem;
}

/*Moderizasyon ile cok karıstırdıgım icin footerı eski usul dizayn ediyorum*/
.footer1 {
  width: 800px;
  height: 40px;
  margin-left: 1.5rem;
  margin-top: 2rem;
  border: solid 2px white;
  display: flex;
  flex-direction: row-reverse;
}
footer {
  display: flex;
}
.footer1 div {
  width: 30%;
  height: 40px;
  background-color: white;
}
.footer2 {
  width: 420px;
  height: 40px;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
}
i {
  font-size: 40px;
  margin-left: 2rem;
  color: white;
  margin-top: 3rem;
}
.circles > div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #80b3ec;
  margin: 0.4rem;
}
.circles {
  background-color: white;
}
